@import "~bootstrap/less/bootstrap.less";
@import "~bootstrap-material-design/less/bootstrap-material-design.less";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

@bg-color: #EEE;

.fill {
    width: 100%;
    height: 100%;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

html, body {
    .fill;
    overflow: hidden;
    background-color: @bg-color;
}

#root {
  .fill;
}

video {
  .fill;
  object-fit: cover;
}

.bigLocalVideo {
  .fill;
  position: absolute;
  .panel {background-color: transparent;}
  .panel-heading {
      display: none;
  }
  .panel-body {padding: 0;}
}


.bigRemoteVideo {
  position:absolute;
  top: 0;
  left: 0;
  .fill;
  margin-bottom: 0;
  .panel-heading {
    position: absolute;
    width: 100%;
    background-color: rgba(102,102,102,.3) !important;
    text-align: center;
  }
}

.videoContainer {
    z-index: 1;
    position: absolute;
    flex-direction: row;
    .fill;
    .panel {
        box-shadow: none;
        background-color: transparent;
    }
    .panel-heading {
        font-weight: 500;
    }
    .panel-body {
        padding: 0;
    }
    .remoteStatus {
        position: absolute;
        top: 8px;
        right: 8px;
        color: #eee;
        i {display: none;}
        &.muteAudio i:last-child {display: inline-block}
        &.muteVideo i:first-child {display: inline-block}
    }
}

.smallLocalVideo {
  position:absolute;
  bottom: 2em;
  left: 2em;
  z-index: 2;
  max-width: 15%;
  &.panel {
    background-color: transparent;
    box-shadow: none;
  }
  .panel-heading {font-weight: 500;}
  .panel-body {padding: 0;}
}

.smallRemoteVideo {
    position: relative;
    display: inline-block;
    max-width: 15%;
    top: 2em;
    left: 2em;
    z-index: 1;
    margin: 1em;
}

.smallRemoteVideo video {
    max-width: 100%;
    max-height: 100%;
}

.participantsPanel {
    margin-top: 3em;
}

.topButtons {
    position: absolute;
    right: 2em;
    top: 2em;
    z-index: 3;
}

.cmdButtons {
    position: absolute;
    right: 2em;
    bottom: 2em;
    z-index: 2;
}

.logout {
    position:absolute;
    top:2em;
    right:2em;
}

.btn-clear {
    color: #eee !important;
    background-color: fade(color("#333"), 30%) !important;
    &:hover {
        background-color: fade(color("#666"), 30%) !important;
    }
}
